# Managed by Composer
/bin
/vendor

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/phpunit.xml
/phpunit-*.xml

# Auto-saved files
*~

# Mac
.DS_store

# PhpStorm
.idea

# Compass
.sass-cache/

# Composer
/composer.phar

# Build data
/build/

# Karma coverage
coverage/

# Codeship
/codeship.aes

# Database
/.db
